<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sdjictec.xdfin.regulatory.report.mapper.DgkhxxFullInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.sdjictec.xdfin.regulatory.report.entity.DgkhxxFullInfo">
        <result column="khh" property="khh" />
        <result column="nbjgh" property="nbjgh" />
        <result column="gmjjbmfl" property="gmjjbmfl" />
        <result column="jrjglxdm" property="jrjglxdm" />
        <result column="qygm" property="qygm" />
        <result column="kglx" property="kglx" />
        <result column="jnjwbz" property="jnjwbz" />
        <result column="jyszdxzqhdm" property="jyszdxzqhdm" />
        <result column="zcdz" property="zcdz" />
        <result column="sxed" property="sxed" />
        <result column="yyed" property="yyed" />
        <result column="sshy" property="sshy" />
        <result column="nccsbz" property="nccsbz" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        khh, nbjgh, gmjjbmfl, jrjglxdm, qygm, kglx, jnjwbz, jyszdxzqhdm, zcdz, sxed, yyed, sshy, nccsbz
    </sql>

</mapper>
