<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sdjictec.xdfin.regulatory.report.mapper.FtydwckjcxxInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.sdjictec.xdfin.regulatory.report.entity.FtydwckjcxxInfo">
        <result column="sjrq" property="sjrq" />
        <result column="ckzhbm" property="ckzhbm" />
        <result column="ckxh" property="ckxh" />
        <result column="nbjgh" property="nbjgh" />
        <result column="khh" property="khh" />
        <result column="ckcplb" property="ckcplb" />
        <result column="xycklb" property="xycklb" />
        <result column="qsrq" property="qsrq" />
        <result column="dqrq" property="dqrq" />
        <result column="sjzzrq" property="sjzzrq" />
        <result column="ckqxlx" property="ckqxlx" />
        <result column="djjzlx" property="djjzlx" />
        <result column="lllx" property="lllx" />
        <result column="sjll" property="sjll" />
        <result column="jzll" property="jzll" />
        <result column="llfdpl" property="llfdpl" />
        <result column="bdsyl" property="bdsyl" />
        <result column="zgsyl" property="zgsyl" />
        <result column="khqd" property="khqd" />
        <result column="ydckbz" property="ydckbz" />
        <result column="dxebz" property="dxebz" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        sjrq, ckzhbm, ckxh, nbjgh, khh, ckcplb, xycklb, qsrq, dqrq, sjzzrq, ckqxlx, djjzlx, lllx, sjll, jzll, llfdpl, bdsyl, zgsyl, khqd, ydckbz, dxebz
    </sql>
    <sql id="concatStr">
        select concat(IFNULL(sjrq,''),'|@|',IFNULL(ckzhbm,''),'|@|',IFNULL(ckxh,''),'|@|',IFNULL(nbjgh,''),'|@|',IFNULL(khh,''),'|@|',IFNULL(ckcplb,''),'|@|',IFNULL(xycklb,''),'|@|',IFNULL(qsrq,''),'|@|',IFNULL(dqrq,''),'|@|',IFNULL(sjzzrq,''),'|@|',IFNULL(ckqxlx,''),'|@|',IFNULL(djjzlx,''),'|@|',IFNULL(lllx,''),'|@|',IFNULL(sjll,''),'|@|',IFNULL(jzll,''),'|@|',IFNULL(llfdpl,''),'|@|',IFNULL(bdsyl,''),'|@|',IFNULL(zgsyl,''),'|@|',IFNULL(khqd,''),'|@|',IFNULL(ydckbz,''),'|@|',IFNULL(dxebz,'')) from ftydwckjcxx_info
    </sql>
    <select id="getContactStr" resultType="java.lang.String">
        <include refid="concatStr"/>
        where sjrq=#{sjrq}
    </select>
</mapper>
