<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sdjictec.xdfin.regulatory.report.mapper.FtydwdkjcxxInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.sdjictec.xdfin.regulatory.report.entity.FtydwdkjcxxInfo">
        <result column="sjrq" property="sjrq" />
        <result column="dkhtbm" property="dkhtbm" />
        <result column="dkjjbh" property="dkjjbh" />
        <result column="dkcplb" property="dkcplb" />
        <result column="khh" property="khh" />
        <result column="nbjgh" property="nbjgh" />
        <result column="dkffrq" property="dkffrq" />
        <result column="ysdqrq" property="ysdqrq" />
        <result column="sjzzrq" property="sjzzrq" />
        <result column="dkqxlx" property="dkqxlx" />
        <result column="lllx" property="lllx" />
        <result column="djjzlx" property="djjzlx" />
        <result column="jzll" property="jzll" />
        <result column="sjll" property="sjll" />
        <result column="llfdpl" property="llfdpl" />
        <result column="dksjtx" property="dksjtx" />
        <result column="dkblqd" property="dkblqd" />
        <result column="czbl" property="czbl" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        sjrq, dkhtbm, dkjjbh, dkcplb, khh, nbjgh, dkffrq, ysdqrq, sjzzrq, dkqxlx, lllx, djjzlx, jzll, sjll, llfdpl, dksjtx, dkblqd, czbl
    </sql>
    <sql id="concatStr">
        select concat(IFNULL(sjrq,''),'|@|',IFNULL(dkhtbm,''),'|@|',IFNULL(dkjjbh,''),'|@|',IFNULL(dkcplb,''),'|@|',IFNULL(khh,''),'|@|',IFNULL(nbjgh,''),'|@|',IFNULL(dkffrq,''),'|@|',IFNULL(ysdqrq,''),'|@|',IFNULL(sjzzrq,''),'|@|',IFNULL(dkqxlx,''),'|@|',IFNULL(lllx,''),'|@|',IFNULL(djjzlx,''),'|@|',IFNULL(jzll,''),'|@|',IFNULL(sjll,''),'|@|',IFNULL(llfdpl,''),'|@|',IFNULL(dksjtx,''),'|@|',IFNULL(dkblqd,''),'|@|',IFNULL(czbl,'')) from ftydwdkjcxx_info
    </sql>
    <select id="getContactStr" resultType="java.lang.String">
        <include refid="concatStr"/>
        where sjrq=#{sjrq}
    </select>
</mapper>
