<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sdjictec.xdfin.regulatory.report.mapper.JrjgfrxxInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.sdjictec.xdfin.regulatory.report.entity.JrjgfrxxInfo">
        <result column="sjrq" property="sjrq" />
        <result column="jrjgmc" property="jrjgmc" />
        <result column="tyshxydm" property="tyshxydm" />
        <result column="jrjgbm" property="jrjgbm" />
        <result column="jrjglxdm" property="jrjglxdm" />
        <result column="kglx" property="kglx" />
        <result column="qygm" property="qygm" />
        <result column="dqdm" property="dqdm" />
        <result column="qtbm" property="qtbm" />
        <result column="qtbmlxr" property="qtbmlxr" />
        <result column="qtbmlxdh" property="qtbmlxdh" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        sjrq, jrjgmc, tyshxydm, jrjgbm, jrjglxdm, kglx, qygm, dqdm, qtbm, qtbmlxr, qtbmlxdh
    </sql>
    <sql id="concatStr">
        select concat(IFNULL(sjrq,''),'|@|',IFNULL(jrjgmc,''),'|@|',IFNULL(tyshxydm,''),'|@|',IFNULL(jrjgbm,''),'|@|',IFNULL(jrjglxdm,''),'|@|',IFNULL(kglx,''),'|@|',IFNULL(qygm,''),'|@|',IFNULL(dqdm,''),'|@|',IFNULL(qtbm,''),'|@|',IFNULL(qtbmlxr,''),'|@|',IFNULL(qtbmlxdh,'')) from jrjgfrxx_info
    </sql>
    <select id="getContactStr" resultType="java.lang.String">
        <include refid="concatStr"/>
        where sjrq=#{sjrq}
    </select>
</mapper>
