<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sdjictec.xdfin.regulatory.report.mapper.PjtxztxjcxxInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.sdjictec.xdfin.regulatory.report.entity.PjtxztxjcxxInfo">
        <result column="sjrq" property="sjrq" />
        <result column="nbjgh" property="nbjgh" />
        <result column="khh" property="khh" />
        <result column="jrjglxdm" property="jrjglxdm" />
        <result column="ywbm" property="ywbm" />
        <result column="pjrzywlx" property="pjrzywlx" />
        <result column="qsrq" property="qsrq" />
        <result column="dqrq" property="dqrq" />
        <result column="pjrzqxlx" property="pjrzqxlx" />
        <result column="txll" property="txll" />
        <result column="bz" property="bz" />
        <result column="ywlx" property="ywlx" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        sjrq, nbjgh, khh, jrjglxdm, ywbm, pjrzywlx, qsrq, dqrq, pjrzqxlx, txll, bz, ywlx
    </sql>
    <sql id="concatStr">
        select concat(IFNULL(sjrq,''),'|@|',IFNULL(nbjgh,''),'|@|',IFNULL(khh,''),'|@|',IFNULL(jrjglxdm,''),'|@|',IFNULL(ywbm,''),'|@|',IFNULL(pjrzywlx,''),'|@|',IFNULL(qsrq,''),'|@|',IFNULL(dqrq,''),'|@|',IFNULL(pjrzqxlx,''),'|@|',IFNULL(txll,''),'|@|',IFNULL(bz,''),'|@|',IFNULL(ywlx,'')) from pjtxztxjcxx_info
    </sql>
    <select id="getContactStr" resultType="java.lang.String">
        <include refid="concatStr"/>
        where sjrq=#{sjrq}
    </select>
</mapper>
