<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sdjictec.xdfin.regulatory.report.mapper.WtdkyexxInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.sdjictec.xdfin.regulatory.report.entity.WtdkyexxInfo">
        <result column="sjrq" property="sjrq" />
        <result column="dkjjbh" property="dkjjbh" />
        <result column="jkrkhh" property="jkrkhh" />
        <result column="wtrkhh" property="wtrkhh" />
        <result column="nbjgh" property="nbjgh" />
        <result column="bz" property="bz" />
        <result column="dkye" property="dkye" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        sjrq, dkjjbh, jkrkhh, wtrkhh, nbjgh, bz, dkye
    </sql>
    <sql id="concatStr">
        select concat(IFNULL(sjrq,''),'|@|',IFNULL(dkjjbh,''),'|@|',IFNULL(jkrkhh,''),'|@|',IFNULL(wtrkhh,''),'|@|',IFNULL(nbjgh,''),'|@|',IFNULL(bz,''),'|@|',IFNULL(dkye,'')) from wtdkyexx_info
    </sql>
    <select id="getContactStr" resultType="java.lang.String">
        <include refid="concatStr"/>
        where sjrq=#{sjrq}
    </select>
</mapper>
